---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
- type: directory
  path: content/posts
  label: Posts
  create: all
  match: "**/*"
- type: document
  path: content/data/sample-data.yml
  label: Sample Data File
- type: document
  path: content/read-only
  label: Read Only Thing
  read_only: true
upload_dir: ''
public_path: https://res.cloudinary.com/areddin/image/upload
front_matter_path: ''
use_front_matter_path: true
file_template: ":filename:"
version: '0.51'
